<header class="header">
  <div class="header-logo">
    <a class="header-logo-image" href="https://timebeat.app">
      <svg class="evoko-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 199.39 45.44">
        <defs>
          <style>
            .cls-1,
            .cls-3,
            .cls-4,
            .cls-5,
            .cls-6 {
              fill: #fff;
            }

            .cls-2,
            .cls-3,
            .cls-4,
            .cls-5,
            .cls-6 {
              isolation: isolate;
            }

            .cls-3,
            .cls-4,
            .cls-5,
            .cls-6 {
              font-size: 40.34px;
            }

            .cls-3 {
              font-family: Roboto-Regular, Roboto;
              letter-spacing: -0.04em;
            }

            .cls-4,
            .cls-5,
            .cls-6 {
              font-family: Roboto-Thin, Roboto;
              font-weight: 200;
            }

            .cls-4 {
              letter-spacing: -0.04em;
            }

            .cls-5 {
              letter-spacing: -0.1em;
            }

            .cls-6 {
              letter-spacing: -0.08em;
            }
          </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <g id="Layer_1-2-2" data-name="Layer 1-2">
              <path class="cls-1" d="M2.09,5.34c-.12,0,.05.1.31.28A.65.65,0,0,0,2.09,5.34Z" />
              <path class="cls-1" d="M15.46,5.34a.6.6,0,0,0-.31.28C15.41,5.44,15.58,5.3,15.46,5.34Z" />
              <circle class="cls-1" cx="5.74" cy="12.41" r="0.61" />
              <circle class="cls-1" cx="11.8" cy="12.41" r="0.61" />
              <path class="cls-1"
                d="M16.87,18.76a4.47,4.47,0,0,0-.66-2,1.74,1.74,0,0,1,.13-.31,4.58,4.58,0,0,0-.19-2.69A4,4,0,0,0,15,10.42c-.16-.18,0-.57,0-.57s-.2-1.34.57-1.8a3.26,3.26,0,0,0,.88-.64,4.18,4.18,0,0,0-1,0c-.18.07.58-.76.58-1.12a2.24,2.24,0,0,0-.51.41c-.14.18.35-.92.35-1.06s-.79.3-.92.44,0-.21.12-.46c-.46.33-1.24.81-1.24.81s-1.09.87-1.15,1.33-1.59,0-2,0-1.68-.22-2-.23h0c-.28,0-1.54.16-2,.23s-2,.49-2,0-1-1.33-1-1.33a10.87,10.87,0,0,1-1.24-.81c.15.25.22.55.13.46S1.6,5.5,1.6,5.64,2.09,6.88,2,6.7a2.24,2.24,0,0,0-.51-.41c0,.36.76,1.19.58,1.12a4.18,4.18,0,0,0-1,0A3.26,3.26,0,0,0,2,8.05c.76.46.57,1.8.57,1.8s.18.39,0,.57A4,4,0,0,0,1.4,13.73a4.58,4.58,0,0,0-.19,2.69c.06.15.1.25.13.31a4.45,4.45,0,0,0-.67,2A4,4,0,0,0,0,20.6a22.2,22.2,0,0,0,2.43,5.9c.74,1,.81,2.37,1.45,2.32S4.77,30,5.14,30.76a17.38,17.38,0,0,0,1.54,2.68c.25.16.5.48.37,0s.38.65.66.79.37.25.18-.54.4.49.4.49.36.55.48.23h0c.13.32.48-.23.48-.23s.61-1.29.41-.49-.11.69.18.54.78-1.27.65-.79.13.16.38,0a18.24,18.24,0,0,0,1.54-2.68c.37-.72.62-2,1.26-1.94s.7-1.33,1.45-2.32a22.53,22.53,0,0,0,2.43-5.9A4,4,0,0,0,16.87,18.76ZM4.94,27.56a3.69,3.69,0,0,0,0,1.05c0,.36-.26-.25-.48-.85s0-.7,0-.7C5.06,26.74,5,27.43,4.94,27.56Zm.75-.14a4.58,4.58,0,0,0,0,1.17c0,.4-.29-.28-.53-.95s0-.78,0-.78C5.83,26.5,5.8,27.27,5.69,27.42Zm.8.44c-.21.59-.48,1.2-.48.85s.1-.92,0-1.05-.12-.83.48-.51C6.49,27.15,6.71,27.26,6.49,27.86Zm.59-13.55a2.19,2.19,0,0,1-3,.37,2.18,2.18,0,0,1-.85-2.95,1.77,1.77,0,0,1,1-.73,10.86,10.86,0,0,1,2.87,1.33A1.9,1.9,0,0,1,7.08,14.31Zm1.6,4.2v.42c.12.09.12.17,0,.25v-.25a.22.22,0,0,0,.09-.26.34.34,0,0,0,.05.26v.25a.16.16,0,0,1,0-.22l0,0v-.42a16.49,16.49,0,0,0-1.27-3.18l1.27-1.22H8.68L10,15.33A18.39,18.39,0,0,0,8.68,18.51Zm2.85,9.15a3.69,3.69,0,0,0,0,1.05c0,.35-.26-.26-.47-.85s0-.71,0-.71C11.65,26.83,11.63,27.52,11.53,27.66Zm.86,0c-.24.67-.54,1.35-.54.95a4.08,4.08,0,0,0,0-1.17c-.11-.17-.13-.92.54-.56,0,0,.24.12,0,.76Zm.69.12c-.21.6-.47,1.21-.47.85a3.69,3.69,0,0,0,0-1.05c-.1-.13-.12-.82.47-.5,0,0,.22.09,0,.68Zm.44-13.08a2.19,2.19,0,0,1-3-.37,1.94,1.94,0,0,1,0-2A11,11,0,0,1,13.31,11a1.73,1.73,0,0,1,1,.74,2.18,2.18,0,0,1-.79,2.94Z" />
              <g class="cls-2"><text class="cls-3" transform="translate(24.49 34.51)">TIME</text><text class="cls-4"
                  transform="translate(111.88 34.51)">BE</text><text class="cls-5"
                  transform="translate(156.27 34.51)">A</text><text class="cls-6"
                  transform="translate(176.36 34.51)">T</text></g>
            </g>
          </g>
        </g>
      </svg>
      <span class="visibility-hidden">Timebeat website</span>
    </a>
    <a class="header-logo-title" href="/hc/en-us">support</a>
  </div>

  <div class="header-desktop-search">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder="Search knowledge base..."}}
  </div>

  <div class="header-desktop-menu">
    <nav class="user-nav" id="user-nav">
      {{#if help_center.community_enabled}}
      {{link 'community'}}
      {{/if}}
      {{link 'new_request'}}
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-end" role="menu">
        {{link "my_activities" role="menuitem"}}
        {{my_profile role="menuitem"}}
        {{change_password role="menuitem"}}
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{else}}
    {{#link "sign_in"}}
    {{t 'sign_in'}}
    {{/link}}
    {{/if}}
  </div>

  <button aria-expanded="false" aria-controls="mobile-menu" aria-label="{{t 'toggle_navigation'}}"
    class="header-mobile-menu-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 16 16"
      aria-hidden="true" class="menu-icon">
      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 12 12"
      aria-hidden="true" class="x-icon">
      <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3" />
    </svg>
  </button>
</header>

<nav class="header-mobile-menu" aria-expanded="false" id="mobile-menu">
  <div class="header-mobile-menu-search">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder="Search knowledge base..."}}
  </div>

  <ul>
    {{#if help_center.community_enabled}}
    <li>{{link 'community'}}</li>
    {{/if}}
    <li>{{link 'new_request'}}</li>
    {{#if signed_in}}
    <li>{{my_profile}}</li>
    <li>{{link "my_activities"}}</li>
    <li>{{change_password}}</li>
    <li>{{link "sign_out"}}</li>
    {{else}}
    <li>
      {{#link "sign_in"}}
      {{t 'sign_in'}}
      {{/link}}
    </li>
    {{/if}}
  </ul>
</nav>
